@model PBL3.Models.AbastecimentoBebedouro

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AbastecimentoBebedouro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Bebedouro.Localizacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bebedouro.Localizacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estoque.EstoqueId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estoque.EstoqueId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AbastecimentoBebedouroId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
